
		<div class="row">
			<div class="col-md-8">
				<h1>posted by <a href=<%="/show?u=#{@post.user_id}"%>><%="#{@post.user.username}"%></a></h1>
			</div>
			<div class="col-md-4">
				<% if current_user %>
					<% if @show_user.id != current_user.id %>
						<!-- If we are here, current user is looking at another's post. -->
						<!-- So give them the option to folow that user -->
						<% if @following.length == 0 %>
							<p><a class="btn btn-default bpub" href=<%="/show_follow?er=#{current_user.id}&ee=#{@show_user.id}"%> >Follow this Blog!</a> </p>
						<% else %>
							<p><a class="btn btn-default bpub" href=<%="/show_unfollow?er=#{current_user.id}&ee=#{@show_user.id}"%> >Unfollow!</a> </p>
						<% end %>
					<% else %>
						<% if @show_user.id == current_user.id %>
							<!-- If we are here, current user is looking at their own post. -->
							<!-- So give them the option to edit their post -->
							<p><a class="btn btn-default bpub" href=<%="/blogpost_edit?p=#{@post.id}"%>>Edit Post</a> </p>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<hr>
		<h2> <%= @post.title %> </h2>
		<p><%= "posted on #{@post.date_posted.strftime("%d/%m/%Y %H:%M")}" %> </p>
		<p class="blogpost"> <%= @post.body %> </p>

