
		<div class="row">
				<h1>BleatHowl</h1>
				<h3>Two Things To Do At The Moon</h3>
		</div>

		<div class="row">

			<% @posts.each do |post| %>
				<hr>
				<h2 class="headerLink"><a href=<%="/blogpost_show?p=#{post.id}"%>><%="#{post.title}"%> </a> </h2>
				<p>posted by <a href=<%="/show?u=#{post.user_id}"%>><%="#{post.user.username}"%></a><%= " on #{post.date_posted.strftime("%d/%m/%Y %H:%M")}" %> </p>
				<p class="blogpost">
					<%= post.body %>
				</p>
			<% end %>

		</div>
