<h1> Profiles for BleatHowl </h1>


<!-- display names of users -->
<% users = User.all %>
<% profiles = Profile.all %>

<ul> 
	<% users.each do |user| %>
		<div class="row">
			<div class="col-md-2">
				<li class="profile-li"><%= "#{user.fname}, #{user.lname}, #{user.username}" %></li>
			</div>
			<div class="col-md-9">
				<% if current_user %>
					<% if current_user.id != user.id %>
						<!-- if not following, put a follow link else put an unfollow link-->
						<% following = Follow.where(follower_id: current_user.id, followee_id: user.id) %>
						<% if following.length == 0 %>
							<p><a class="btn btn-default" href=<%="/show_follow?er=#{current_user.id}&ee=#{user.id}"%> >Follow this Blog!</a> </p>
						<% else %>
							<p><a class="btn btn-default" href=<%="/show_unfollow?er=#{current_user.id}&ee=#{user.id}"%> >Unfollow!</a> </p>
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
		<hr>
	<% end %> 
	<% profiles.each do |profile| %>
		<li class="profile-li"><%= "#{profile.user_id}"%></li>
		<% if profile.user %>
			<%= "#{profile.user.username}: #{profile.user.fname} #{profile.user.lname}, #{profile.country}" %>
		<% end %>		
	<% end %> 
</ul>

<p><a href="/users"> Back to users</a>

</p>